@use '../abstracts/mixins' as *;

.typo-h1 {
  font-weight: 600;
  font-size: val(22, 24);
  line-height: 140%;
}
.typo-h1-big {
  font-size: val(28, 36);
}
.typo-h2 {
  font-weight: 600;
  font-size: val(20, 22);
  line-height: 140%;
}
.typo-h3 {
  font-weight: 600;
  font-size: val(16, 18);
  line-height: 140%;
}
.typo-p1 {
  font-weight: 400;
  font-size: val(16, 18);
  line-height: 140%;
}
.typo-p1-medium {
  font-weight: 500;
  font-size: val(16, 18);
  line-height: 140%;
}
.typo-p2-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.typo-p3-medium {
  font-weight: 500;
  font-size: val(12, 14);
  line-height: 140%;
}
.typo-marker {
  font-weight: 600;
  font-size: val(12, 14);
  line-height: 130%;
}
